{% extends "plantilla.html" %}

{% block titulo %}
  Bienvenidos a Psicología Efectiva
{% endblock titulo %}

{% block contenido %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni iusto maiores laboriosam eaque voluptas error magnam repellat delectus fugit amet cupiditate accusamus repellendus quam, asperiores porro. Necessitatibus soluta placeat esse.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni iusto maiores laboriosam eaque voluptas error magnam repellat delectus fugit amet cupiditate accusamus repellendus quam, asperiores porro. Necessitatibus soluta placeat esse.</p>
{% endblock contenido %}